.page-layout {
    min-height: 100dvh;
    width: 100%;
    display: grid;
    grid-template:
        'cabecera' auto 'contenido' 1fr 'pie' auto / 1fr;
    gap: 0;

    .header-wrapper {
        grid-area: cabecera;
    }

    .body-content {
        grid-area: contenido;
    }

    footer {
        grid-area: pie;
    }
}
